@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* img {
  max-width: 100%;
}
* a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  background-color: #292C36;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(images/Hero-modified.png);
  font-size: 1em;
  height: 40em;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.container {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.add-header-container {
  max-width: 80%;
  margin: auto;
  height: 27.7em;
}

.img {
  cursor: pointer;
}

.hamburger,
.toggle_menu {
  display: none;
}

@media screen and (max-width: 1405px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 905px) {
  body {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 90%;
  }
  .nav-list {
    display: none;
  }
  .hamburger,
.toggle_menu {
    display: block;
    position: fixed;
    background-color: #1818c5;
    top: 0;
    right: 0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  width: 50%;
  gap: 0.6em;
}

.header-right {
  width: 50%;
  align-items: center;
  display: flex;
}

.hamburger {
  position: relative;
  right: -87%;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 20px;
}

.hamburger:after {
  top: 10px;
  width: 25px;
}

.toggle_menu {
  position: absolute;
  right: 5%;
  width: 30px;
  height: 2.5em;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.header-right input:checked ~ .hamburger {
  background: transparent;
}

.header-right input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.header-right input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.burger_menu.active {
  visibility: visible;
  opacity: 1;
}

.burger_menu {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.3em;
  height: 22em;
  padding: 2.8em;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(23, 177, 33, 0.73) 50%, rgba(143, 49, 49, 0.577));
  background-blend-mode: normal;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  max-width: 70%;
  margin-inline: auto;
}

.nav__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  list-style: none;
  z-index: 3;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-inline: auto;
}
.nav__burger .burger-list {
  margin-inline: auto;
}
.nav__burger .burger-list + .burger-list {
  margin-top: 2.5em;
}

.nav__burger:hover > .burger-list {
  opacity: 0.3;
}

.nav__burger:hover > .burger-list:hover {
  opacity: 1;
}

.nav-list {
  text-decoration: none;
  color: #fff;
  transition: all 0.6s;
  position: relative;
}

.nav-list::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.656);
  transition: 0.2s, 1s;
  transform: scaleX(0);
}

.nav-list:hover:before {
  transform: scaleX(1);
}

.nav-list:hover {
  color: #4C70EF;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  z-index: 3;
}

.nav:hover > .nav-list {
  opacity: 0.3;
}

.nav:hover > .nav-list:hover {
  opacity: 1;
}

.header-main {
  text-align: center;
  border: 2px solid rgba(255, 0, 0, 0);
  background-color: rgb(88, 87, 87);
  max-width: 60%;
  margin: auto;
  height: 10.4em;
  font-size: 2.2em;
  margin-top: 2em;
}

.prime-text {
  font-size: 1.6em;
}

.header-main-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  background-color: #1a1a1a;
}

.about_me {
  display: flex;
  gap: 4em;
  min-height: 36.7em;
  margin-top: 4.5em;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  color: #4C70EF;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.detailed_title {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: bold;
}

.prime-text {
  color: #B0ADAD;
  font-size: 1em;
}

.text {
  cursor: default;
}

.what_i_do {
  max-width: 80%;
  min-height: 28em;
  min-width: 70%;
  margin: auto;
}

.block_content {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100%;
}

.card {
  padding: 1.1em;
  border-radius: 0.8em;
  background-color: #292C36;
}

.card__wrapp {
  margin-inline: auto;
  padding: 0.2em;
}

.card__wrapp__custom {
  margin-inline: auto;
  padding: 0.2em;
}

.zoom_card {
  transition: 0.6s, 0.6s;
  cursor: pointer;
  margin-bottom: 0.7em;
  max-width: 22em;
}

.zoom_card:hover {
  transform: scale(1.08, 1.08);
  color: #4C70EF;
}

.card-title {
  font-size: 1.1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  box-sizing: content-box;
}

.card-header {
  display: flex;
}

.portfolio {
  width: 100%;
  min-height: 39em;
}

.custom_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom_card {
  background-color: #292C36;
  border-radius: 0.8em;
  margin-top: 20px;
  margin-inline: auto;
}

button {
  background-color: #558FFF;
  border-radius: 0.5em;
  border-color: rgba(26, 26, 26, 0);
  padding: 0.6em 1.2em 0.6em 1.2em;
  color: #FFFFFF;
  letter-spacing: 1.4px;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.6s, 0.6s;
}

button:hover {
  color: #4C70EF;
  background-color: #FFFFFF;
  border: 2px solid #4C70EF;
}

.custom_cards button {
  margin: 0.8em;
}

.contact {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding: 5em 0 4.5em 0;
}

.contact button {
  margin-top: 2.4em;
}

footer {
  border: 2px solid rgba(60, 57, 57, 0);
  background-color: #292C36;
  text-align: center;
  align-items: center;
  padding: 1.2em 0 2.4em 0;
}

.wrapper#blur.active {
  filter: blur(20px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.3em;
  padding: 2.8em;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: blueviolet;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  max-width: 70%;
  margin-inline: auto;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#burgerPopup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.3em;
  padding: 2.8em;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#e66465 50%, #9198e5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  max-width: 70%;
  margin-inline: auto;
}

#burgerPopup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.card__image {
  max-width: none;
}/*# sourceMappingURL=style.css.map */