@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

header {
  background-image: url(images/Hero.png);
  font-size: 18px;
  height: 694px;
  font-weight: bold;
}

.container {
  max-width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-header-container {
  max-width: 80%;
  margin: auto;
  height: 500px;
}

.img {
  cursor: pointer;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 0.6em;
}

.header-right {
  width: 50%;
}

.nav-list {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 1s, 1s;
  transition: all 1s, 1s;
  position: relative;
}

.nav-list::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.656);
  -webkit-transition: 0.2s, 1s;
  transition: 0.2s, 1s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav-list:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-list:hover {
  color: orange;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  list-style: none;
}

.header-main {
  text-align: center;
  border: 2px solid rgba(255, 0, 0, 0);
  background-color: #585757;
  max-width: 60%;
  margin: auto;
  height: 350px;
  font-size: 40px;
  margin-top: 100px;
}

.prime-text {
  font-size: 30px;
}

.header-main-content {
  margin-top: 120px;
}

section {
  background-color: #1a1a1a;
}

.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4em;
  height: 535px;
  margin-top: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  color: #4C70EF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.detailed_title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
}

.prime-text {
  color: #B0ADAD;
  font-size: 18px;
}

.what_i_do {
  width: 100%;
  height: 500px;
}

.block_content {
  text-align: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  max-width: 80%;
  margin: auto;
}

.card {
  padding: 20px;
  border-radius: 15px;
  background-color: #292C36;
}

.card-title {
  font-size: 24px;
  margin-left: 15px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio {
  width: 100%;
  height: 700px;
}

.custom_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_card {
  background-color: #292C36;
  border-radius: 15px;
}

button {
  background-color: #558FFF;
  border-radius: 8px;
  border-color: #1a1a1a00;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  letter-spacing: 1.4px;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: all 1s, 1s;
  transition: all 1s, 1s;
}

button:hover {
  color: #4C70EF;
  background-color: #FFFFFF;
  border: 2px solid #4C70EF;
}

.custom_cards button {
  margin: 15px;
}

.contact {
  width: calc(80% - 3em);
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 90px 0 80px 0;
}

.contact button {
  margin-top: 40px;
}

footer {
  border: 2px solid rgba(60, 57, 57, 0);
  background-color: #292C36;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 40px 0;
}
/*# sourceMappingURL=style.css.map */